<div style="margin-top:30px;"></div>

<h1 style="color:#003366; font-size:30px;">PROJECT DOCUMENTATION</h1>
<hr style="border:2px solid #003366;">

<h2 style="color:#005B96; font-size:28px;">
Project Title: Online Store Sales Analysis Using Python
</h2>

<p style="font-size:18px;color:#008080;">
<b>Project Domain:</b>Sales & E-commerce 
</p>

<p style="font-size:18px;color:#008080;">
<b>Project Abstract:</b> Analyze sales data to identify top regions, best selling products, promotion effectiveness, and payment preferences using Python (pandas, matplotlib, seaborn).
</p>

<p style="font-size:18px;color:#008080;">
<b>Dataset Name:</b>  Online Store Orders Dataset.</p>
<p style="font-size:18px;color:#008080;">
<b>Source:</b>  EXCEL X.COM</p>
<p style="font-size:18px;color:#008080;">
<b>Description:</b> This Dataset is a part of a free Excel data pack designed for sales and retail analysis. It contains 1,500 synthetic sales transactions representing multiple store locations across five regions. The dataset mimics real-world retail and e-commerce sales data, enabling analysis of sales performance, promotions, customer types, and operational metrics such as discounts, shipping cost, and returns. this Dataset contains 19 columns and 1,500 records representing regional retail and wholesale transactions.
It includes details such as sales dates, regions, products, prices, quantities, discounts, promotions, shipping costs, customer and salesperson information, along with order and delivery details.
Each record represents a single sale, enabling analysis of sales performance, regional comparisons, promotional impacts, and operational metrics.
Data types include Date, Text/String, Integer, Decimal/Float, and Boolean.
</p>

<p style="font-size:18px;color:#008080;">
<b>Problem Statement:</b> 
Retail and regional sales teams often face challenges in understanding how various factors like region, discount, promotion, and salesperson performance impact overall sales. This project aims to analyze and visualize sales performance by region, store, and salesperson to identify revenue drivers and optimization opportunities. </p>

<p style="font-size:18px;color:#008080;">
<b>Objectives:</b>
</p>

<ul style="font-size:17px;color:#008080; line-height:1.6;">
  <li>To compare total sales and quantity sold across different regions and products.</li>
  <li>To assess the impact of discounts and promotions on sales revenue.</li>
  <li>To evaluate salesperson performance and identify top performers.</li>
  <li>To visualize regional performance using maps and charts.</li>
  <li>To analyze shipping cost trends and return rates for operational improvement.</li>
</ul>

In [69]:
import pandas as pd

<p style="font-size:17px;"> This line imports the Pandas library and gives it a short name pd so it’s easier to use.
</p>

In [70]:
dataset=pd.read_csv("C:\\Users\\HP\\OneDrive\\Desktop\\data analytics\\jupiter path\\Product-Sales-Region.csv")

<p style="font-size:17px;">This line load the Dataset </p>

In [71]:
dataset

,Date,Region,Product,Quantity,UnitPrice,StoreLocation,CustomerType,Discount,Salesperson,TotalPrice,PaymentMethod,Promotion,Returned,OrderID,CustomerName,ShippingCost,OrderDate,DeliveryDate,RegionManager
0,2023-02-23,East,Laptop,14,163.60,Store B,Wholesale,0.00,Eva,2290.400,Online,FREESHIP,0,REG100000,Cust 6583,43.34,2023-02-23,2023-02-27,Eric
1,2024-12-19,South,Phone,1,544.01,Store A,Retail,0.00,Alice,544.010,Gift Card,SAVE10,0,REG100001,Cust 2144,5.30,2024-12-19,2024-12-28,Sophie
2,2023-05-10,North,Desk,14,346.18,Store B,Wholesale,0.10,Alice,4361.868,Online,WINTER15,0,REG100002,Cust 5998,20.46,2023-05-10,2023-05-19,Ryan
3,2025-02-26,Central,Chair,18,384.82,Store A,Wholesale,0.15,Frank,5887.746,Gift Card,FREESHIP,0,REG100003,Cust 7136,27.95,2025-02-26,2025-03-02,Cameron
4,2023-06-24,East,Desk,18,237.76,Store C,Retail,0.00,Carlos,4279.680,Online,SAVE10,0,REG100004,Cust 6506,5.73,2023-06-24,2023-06-27,Eric
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,2025-02-17,West,Desk,13,134.56,Store D,Retail,0.05,Carlos,1661.816,Credit Card,WINTER15,0,REG101495,Cust 5227,35.63,2025-02-17,2025-02-22,Wendy
1496,2024-01-11,South,Chair,18,209.75,Store C,Wholesale,0.15,Frank,3209.175,Debit Card,FREESHIP,0,REG101496,Cust 5559,45.93,2024-01-11,2024-01-17,Sophie
1497,2024-07-27,East,Desk,1,272.50,Store A,Wholesale,0.00,Eva,272.500,Gift Card,WINTER15,0,REG101497,Cust 8981,35.56,2024-07-27,2024-08-03,Eric
1498,2024-12-03,Central,Monitor,14,262.67,Store A,Retail,0.05,Carlos,3493.511,Gift Card,SAVE10,0,REG101498,Cust 1824,24.53,2024-12-03,2024-12-10,Cameron
1499,2025-05-09,West,Chair,13,221.39,Store D,Wholesale,0.00,Frank,2878.070,Debit Card,FREESHIP,1,REG101499,Cust 1935,21.05,2025-05-09,2025-05-13,Wendy

<p style="font-size:17px;">Shows the dataset.</p>

<p style="font-size:18px;color:#008080;">
<b>Column Description:</b> <p/> 
    
| Column Name | Description | Data Type |
|--------------|-------------|------------|
| Date | Transaction date of the sale | Date |
| Region | Region where the sale occurred (East, West, North, South, etc.) | Text |
| Product | Product name or category | Text |
| Quantity | Number of units sold | Integer |
| UnitPrice | Price per unit of the product | Float |
| StoreLocation | Store branch or outlet where sale occurred | Text |
| CustomerType | Type of customer (Retail / Wholesale) | Text |
| Discount | Discount applied on the sale | Float |
| Salesperson | Name of the salesperson handling the order | Text |
| TotalPrice | Final sale amount after discount | Float |
| PaymentMethod | Payment type used (UPI, Credit Card, Cash, etc.) | Text |
| Promotion | Active promotion name or "Unknown" if none | Text |
| Returned | Whether the product was returned (Yes/No) | Boolean |
| OrderID | Unique identifier for the order | Text |
| CustomerName | Name of the customer | Text |
| ShippingCost | Cost of shipping for the order | Float |
| OrderDate | Date when the order was placed | Date |
| DeliveryDate | Date when the order was delivered | Date |
| RegionManager | Manager responsible for that region | Text |

In [72]:
dataset.shape

(1500, 19)

<p style="font-size:17px;"> The shape attribute in pandas provides the dimensions of the dataset as a tuple (rows, columns).
<ul style="font-size:17px;"> 
<li>dataset.shape[0] gives the total number of rows.</li>
<li>dataset.shape[1] gives the total number of columns.</li></ul>

In [73]:
dataset.head(10)

,Date,Region,Product,Quantity,UnitPrice,StoreLocation,CustomerType,Discount,Salesperson,TotalPrice,PaymentMethod,Promotion,Returned,OrderID,CustomerName,ShippingCost,OrderDate,DeliveryDate,RegionManager
0,2023-02-23,East,Laptop,14,163.60,Store B,Wholesale,0.00,Eva,2290.400,Online,FREESHIP,0,REG100000,Cust 6583,43.34,2023-02-23,2023-02-27,Eric
1,2024-12-19,South,Phone,1,544.01,Store A,Retail,0.00,Alice,544.010,Gift Card,SAVE10,0,REG100001,Cust 2144,5.30,2024-12-19,2024-12-28,Sophie
2,2023-05-10,North,Desk,14,346.18,Store B,Wholesale,0.10,Alice,4361.868,Online,WINTER15,0,REG100002,Cust 5998,20.46,2023-05-10,2023-05-19,Ryan
3,2025-02-26,Central,Chair,18,384.82,Store A,Wholesale,0.15,Frank,5887.746,Gift Card,FREESHIP,0,REG100003,Cust 7136,27.95,2025-02-26,2025-03-02,Cameron
4,2023-06-24,East,Desk,18,237.76,Store C,Retail,0.00,Carlos,4279.680,Online,SAVE10,0,REG100004,Cust 6506,5.73,2023-06-24,2023-06-27,Eric
5,2024-02-20,Central,Monitor,2,385.09,Store D,Wholesale,0.15,Diana,654.653,Credit Card,NaN,0,REG100005,Cust 3909,11.92,2024-02-20,2024-03-01,Cameron
6,2023-01-11,South,Chair,7,17.50,Store C,Retail,0.10,Alice,110.250,Debit Card,WINTER15,0,REG100006,Cust 7887,5.02,2023-01-11,2023-01-14,Sophie
7,2023-01-09,Central,Chair,3,330.22,Store C,Wholesale,0.15,Carlos,842.061,Cash,NaN,0,REG100007,Cust 5301,48.01,2023-01-09,2023-01-11,Cameron
8,2024-10-16,South,Chair,3,432.04,Store D,Wholesale,0.05,Bob,1231.314,Debit Card,FREESHIP,1,REG100008,Cust 2284,42.11,2024-10-16,2024-10-18,Sophie
9,2025-03-05,West,Desk,5,323.28,Store D,Retail,0.10,Frank,1454.760,Gift Card,SAVE10,0,REG100009,Cust 3732,41.10,2025-03-05,2025-03-13,Wendy

<p style="font-size:17px;"> The function dataset.head(10) displays the first 10 rows of the dataset to understand its structure, sample records, and data format.</p>

In [74]:
dataset.describe()

,Quantity,UnitPrice,Discount,TotalPrice,Returned,ShippingCost
count,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
mean,10.410667,298.826947,0.073133,2919.994952,0.248000,27.507293
std,5.735732,169.100075,0.055979,2522.789977,0.431996,13.093453
min,1.000000,5.520000,0.000000,6.970000,0.000000,5.010000
25%,5.000000,151.020000,0.000000,867.136250,0.000000,16.700000
50%,11.000000,294.740000,0.050000,2174.724000,0.000000,27.100000
75%,15.000000,446.702500,0.100000,4414.723500,0.000000,38.635000
max,20.000000,599.720000,0.150000,11077.000000,1.000000,49.980000

<p style="font-size:17px;">The function dataset.describe() provides summary statistics for all numeric columns in the dataset.</p>

In [75]:
dataset.drop('Returned', axis=1).describe()

          Quantity    UnitPrice     Discount    TotalPrice  ShippingCost
count  1500.000000  1500.000000  1500.000000   1500.000000   1500.000000
mean     10.410667   298.826947     0.073133   2919.994952     27.507293
std       5.735732   169.100075     0.055979   2522.789977     13.093453
min       1.000000     5.520000     0.000000      6.970000      5.010000
25%       5.000000   151.020000     0.000000    867.136250     16.700000
50%      11.000000   294.740000     0.050000   2174.724000     27.100000
75%      15.000000   446.702500     0.100000   4414.723500     38.635000
max      20.000000   599.720000     0.150000  11077.000000     49.980000

<p style="font-size:17px;">This code removes Returned column from describe() function temperorily,because that column did not make any sense</p>

In [76]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1500 non-null   object
 1   Region         1500 non-null   object
 2   Product        1500 non-null   object
 3   Quantity       1500 non-null   int64
 4   UnitPrice      1500 non-null   float64
 5   StoreLocation  1500 non-null   object
 6   CustomerType   1500 non-null   object
 7   Discount       1500 non-null   float64
 8   Salesperson    1500 non-null   object
 9   TotalPrice     1500 non-null   float64
 10  PaymentMethod  1500 non-null   object
 11  Promotion      1130 non-null   object
 12  Returned       1500 non-null   int64
 13  OrderID        1500 non-null   object
 14  CustomerName   1500 non-null   object
 15  ShippingCost   1500 non-null   float64
 16  OrderDate      1500 non-null   object
 17  DeliveryDate   1500 non-null   object
 18  RegionManager  1500 non-null   object
dtypes: float64(4), int64(2), object(13)
memory usage: 222.8+ KB

<p style="font-size:17px;">The function dataset.info() displays the dataset’s structure, including column names, data types, and non-null counts.</p>

In [77]:
dataset.columns

Index(['Date', 'Region', 'Product', 'Quantity', 'UnitPrice', 'StoreLocation',
       'CustomerType', 'Discount', 'Salesperson', 'TotalPrice',
       'PaymentMethod', 'Promotion', 'Returned', 'OrderID', 'CustomerName',
       'ShippingCost', 'OrderDate', 'DeliveryDate', 'RegionManager'],
      dtype='object')

<p style="font-size:17px;"> The command dataset.columns lists all column names present in the dataset.</p>

In [78]:
dataset.dtypes

Date              object
Region            object
Product           object
Quantity           int64
UnitPrice        float64
StoreLocation     object
CustomerType      object
Discount         float64
Salesperson       object
TotalPrice       float64
PaymentMethod     object
Promotion         object
Returned           int64
OrderID           object
CustomerName      object
ShippingCost     float64
OrderDate         object
DeliveryDate      object
RegionManager     object
dtype: object

<p style="font-size:17px;">The function dataset.dtypes displays the data type of each column in the dataset.</p>

In [79]:
print(dataset.isnull().sum())

Date               0
Region             0
Product            0
Quantity           0
UnitPrice          0
StoreLocation      0
CustomerType       0
Discount           0
Salesperson        0
TotalPrice         0
PaymentMethod      0
Promotion        370
Returned           0
OrderID            0
CustomerName       0
ShippingCost       0
OrderDate          0
DeliveryDate       0
RegionManager      0
dtype: int64

<p style="font-size:17px;">Check for missing values using isnull() function. The function .sum() calculate total.</p>

In [80]:
dataset.fillna({'Promotion': 'Unknown'}, inplace=True)

<p style="font-size:17px;">Missing values in the Promotion column were replaced with the label “Unknown” to maintain data completeness.
(fillna() function used to fill null values,inplace=True makes this change permeanant)</p>

In [81]:
print(dataset.isnull().sum())

Date             0
Region           0
Product          0
Quantity         0
UnitPrice        0
StoreLocation    0
CustomerType     0
Discount         0
Salesperson      0
TotalPrice       0
PaymentMethod    0
Promotion        0
Returned         0
OrderID          0
CustomerName     0
ShippingCost     0
OrderDate        0
DeliveryDate     0
RegionManager    0
dtype: int64

<p style="font-size:17px;">Dataset was rechecked and found to have no remaining missing values.Now it is complete.</p>

In [82]:
dataset.drop_duplicates(inplace=True)

<p style="font-size:17px;">This function remove duplicates.</p>

In [83]:
dataset.shape

(1500, 19)

In [84]:
dataset['Date'] = pd.to_datetime(dataset['Date'])
dataset['OrderDate'] = pd.to_datetime(dataset['OrderDate'])
dataset['DeliveryDate'] = pd.to_datetime(dataset['DeliveryDate'])

<p style="font-size:17px;">The function pd.to_datetime() convert date columns to datetime.</p>

<p style="font-size:17px;">The function pd.to_numeric() convert columns to numeric.</p>

In [85]:
dataset['UnitPrice'] = pd.to_numeric(dataset['UnitPrice'], errors='coerce')
dataset['Quantity'] = pd.to_numeric(dataset['Quantity'], errors='coerce')
dataset['Discount'] = pd.to_numeric(dataset['Discount'], errors='coerce')

<p style="font-size:17px;">The function pd.to_numeric() convert columns to numeric.</p>

In [86]:
dataset['StoreLocation'].unique()

array(['Store B', 'Store A', 'Store C', 'Store D'], dtype=object)

<p style="font-size:17px;">This shows all distinct values present in that column</p>

In [87]:
cat_cols = ['Region', 'StoreLocation', 'PaymentMethod', 'CustomerType']
dataset[cat_cols] = dataset[cat_cols].astype('category')

<p style="font-size:17px;">Convert to categorical columns.</p>

In [88]:
dataset.dtypes

Date             datetime64[ns]
Region                 category
Product                  object
Quantity                  int64
UnitPrice               float64
StoreLocation          category
CustomerType           category
Discount                float64
Salesperson              object
TotalPrice              float64
PaymentMethod          category
Promotion                object
Returned                  int64
OrderID                  object
CustomerName             object
ShippingCost            float64
OrderDate        datetime64[ns]
DeliveryDate     datetime64[ns]
RegionManager            object
dtype: object

<p style="font-size:17px;">Checking data types of each column.</p>

<p style="font-size:17px;">Now we can check that is Totalprice column is correct .then we want to first check that is TotalPrice is dataset['Quantity'] * dataset['UnitPrice'] * (1 - dataset['Discount']) or dataset['Quantity'] * dataset['UnitPrice'] </p>

In [89]:
dataset['CalculatedTotal'] = dataset['Quantity'] * dataset['UnitPrice'] * (1 - dataset['Discount'])

<p style="font-size:17px;">In this step calculate TotalPrice again (for verification)</p>

In [90]:
(dataset['CalculatedTotal'] == dataset['TotalPrice']).all()

np.False_

<p style="font-size:17px;">Check whether both columns are the same or if there are any differences.It showing false that means at least one value is different.</p>

In [91]:
dataset['CheckTotal'] = dataset['Quantity'] * dataset['UnitPrice']

<p style="font-size:17px;">Create a calculated column for checking that is TotalPrice = UnitPrice * Quantity</p>

In [92]:
(dataset['TotalPrice'] == dataset['CheckTotal']).all()

np.False_

<p style="font-size:17px;">Check whether both columns are the same or if there are any differences.It showing false that means at least one value is different.</p>

In [93]:
dataset[dataset['TotalPrice'] != dataset['CheckTotal']][['Quantity', 'UnitPrice', 'TotalPrice', 'CheckTotal']]

      Quantity  UnitPrice  TotalPrice  CheckTotal
2           14     346.18    4361.868     4846.52
3           18     384.82    5887.746     6926.76
5            2     385.09     654.653      770.18
6            7      17.50     110.250      122.50
7            3     330.22     842.061      990.66
...        ...        ...         ...         ...
1494         5     201.29    1006.450     1006.45
1495        13     134.56    1661.816     1749.28
1496        18     209.75    3209.175     3775.50
1498        14     262.67    3493.511     3677.38
1499        13     221.39    2878.070     2878.07

[1185 rows x 4 columns]

<p style="font-size:17px;">Displays only the rows where they differ(only views the relevant columns to this problem)</p>

In [94]:
dataset[dataset['CalculatedTotal'] != dataset['TotalPrice']][['Quantity', 'UnitPrice', 'Discount', 'TotalPrice', 'CalculatedTotal']]

      Quantity  UnitPrice  Discount  TotalPrice  CalculatedTotal
5            2     385.09      0.15    654.6530         654.6530
10          15     523.29      0.15   6671.9475        6671.9475
13           1     157.83      0.15    134.1555         134.1555
18          20     519.04      0.15   8823.6800        8823.6800
23          12     472.72      0.15   4821.7440        4821.7440
...        ...        ...       ...         ...              ...
1490         3     485.81      0.10   1311.6870        1311.6870
1494         5     201.29      0.00   1006.4500        1006.4500
1495        13     134.56      0.05   1661.8160        1661.8160
1496        18     209.75      0.15   3209.1750        3209.1750
1499        13     221.39      0.00   2878.0700        2878.0700

[492 rows x 5 columns]

<p style="font-size:17px;">This function shows dataset with selected columns.</p>

In [95]:
mismatched = dataset[dataset['CalculatedTotal'] != dataset['TotalPrice']]
mismatched[[ 'TotalPrice', 'CalculatedTotal']]

      TotalPrice  CalculatedTotal
5       654.6530         654.6530
10     6671.9475        6671.9475
13      134.1555         134.1555
18     8823.6800        8823.6800
23     4821.7440        4821.7440
...          ...              ...
1490   1311.6870        1311.6870
1494   1006.4500        1006.4500
1495   1661.8160        1661.8160
1496   3209.1750        3209.1750
1499   2878.0700        2878.0700

[492 rows x 2 columns]

<p style="font-size:17px;">This will show only the rows where the two columns differ.This focuses only on the relevant columns to quickly spot the difference.It is visible that there is only tiny invisible differences.</p>

<p style="font-size:17px;">So it is clear that here TotalPrice is dataset['Quantity'] * dataset['UnitPrice'] * (1 - dataset['Discount']) not ataset['Quantity'] * dataset['UnitPrice'] </p>

In [96]:
dataset['TotalPrice'] = dataset['CalculatedTotal']

<p style="font-size:17px;">The TotalPrice column is updated using the newly calculated values from CalculatedTotal to ensure
accuracy and consistency in pricing information.</p>

In [97]:
dataset

,Date,Region,Product,Quantity,UnitPrice,StoreLocation,CustomerType,Discount,Salesperson,TotalPrice,...,Promotion,Returned,OrderID,CustomerName,ShippingCost,OrderDate,DeliveryDate,RegionManager,CalculatedTotal,CheckTotal
0,2023-02-23,East,Laptop,14,163.60,Store B,Wholesale,0.00,Eva,2290.400,...,FREESHIP,0,REG100000,Cust 6583,43.34,2023-02-23,2023-02-27,Eric,2290.400,2290.40
1,2024-12-19,South,Phone,1,544.01,Store A,Retail,0.00,Alice,544.010,...,SAVE10,0,REG100001,Cust 2144,5.30,2024-12-19,2024-12-28,Sophie,544.010,544.01
2,2023-05-10,North,Desk,14,346.18,Store B,Wholesale,0.10,Alice,4361.868,...,WINTER15,0,REG100002,Cust 5998,20.46,2023-05-10,2023-05-19,Ryan,4361.868,4846.52
3,2025-02-26,Central,Chair,18,384.82,Store A,Wholesale,0.15,Frank,5887.746,...,FREESHIP,0,REG100003,Cust 7136,27.95,2025-02-26,2025-03-02,Cameron,5887.746,6926.76
4,2023-06-24,East,Desk,18,237.76,Store C,Retail,0.00,Carlos,4279.680,...,SAVE10,0,REG100004,Cust 6506,5.73,2023-06-24,2023-06-27,Eric,4279.680,4279.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,2025-02-17,West,Desk,13,134.56,Store D,Retail,0.05,Carlos,1661.816,...,WINTER15,0,REG101495,Cust 5227,35.63,2025-02-17,2025-02-22,Wendy,1661.816,1749.28
1496,2024-01-11,South,Chair,18,209.75,Store C,Wholesale,0.15,Frank,3209.175,...,FREESHIP,0,REG101496,Cust 5559,45.93,2024-01-11,2024-01-17,Sophie,3209.175,3775.50
1497,2024-07-27,East,Desk,1,272.50,Store A,Wholesale,0.00,Eva,272.500,...,WINTER15,0,REG101497,Cust 8981,35.56,2024-07-27,2024-08-03,Eric,272.500,272.50
1498,2024-12-03,Central,Monitor,14,262.67,Store A,Retail,0.05,Carlos,3493.511,...,SAVE10,0,REG101498,Cust 1824,24.53,2024-12-03,2024-12-10,Cameron,3493.511,3677.38
1499,2025-05-09,West,Chair,13,221.39,Store D,Wholesale,0.00,Frank,2878.070,...,FREESHIP,1,REG101499,Cust 1935,21.05,2025-05-09,2025-05-13,Wendy,2878.070,2878.07

In [98]:
dataset.drop('CalculatedTotal', axis=1, inplace=True)

<p style="font-size:17px;">Removed the CalculatedTotal column after validation to keep the dataset clean.</p>

In [99]:
'CalculatedTotal' in dataset.columns

False

<p style="font-size:17px;">To check is there a column named CalculatedTotal</p>

In [100]:
dataset= dataset[['OrderID', 'CustomerName','CustomerType','Date', 'Region','StoreLocation' ,'Product', 'Quantity', 'UnitPrice', 'CheckTotal', 
         'Discount', 'TotalPrice', 'PaymentMethod', 'ShippingCost' , 
         'Returned',  'OrderDate', 
         'DeliveryDate', 'Salesperson','Promotion','RegionManager']]

<p style="font-size:17px;">Reorder columns for better readability and logical flow of sales-related data.</p>

In [101]:
dataset.rename(columns={'CheckTotal': 'TotalWithoutDiscount'}, inplace=True)

<p style="font-size:17px;">Rename the column name for better readability</p>

In [102]:
dataset['DeliveryDays'] = (dataset['DeliveryDate'] - dataset['OrderDate']).dt.days

<p style="font-size:17px;">Calculate the days take for Delivery </p>

In [103]:
dataset

,OrderID,CustomerName,CustomerType,Date,Region,StoreLocation,Product,Quantity,UnitPrice,TotalWithoutDiscount,...,TotalPrice,PaymentMethod,ShippingCost,Returned,OrderDate,DeliveryDate,Salesperson,Promotion,RegionManager,DeliveryDays
0,REG100000,Cust 6583,Wholesale,2023-02-23,East,Store B,Laptop,14,163.60,2290.40,...,2290.400,Online,43.34,0,2023-02-23,2023-02-27,Eva,FREESHIP,Eric,4
1,REG100001,Cust 2144,Retail,2024-12-19,South,Store A,Phone,1,544.01,544.01,...,544.010,Gift Card,5.30,0,2024-12-19,2024-12-28,Alice,SAVE10,Sophie,9
2,REG100002,Cust 5998,Wholesale,2023-05-10,North,Store B,Desk,14,346.18,4846.52,...,4361.868,Online,20.46,0,2023-05-10,2023-05-19,Alice,WINTER15,Ryan,9
3,REG100003,Cust 7136,Wholesale,2025-02-26,Central,Store A,Chair,18,384.82,6926.76,...,5887.746,Gift Card,27.95,0,2025-02-26,2025-03-02,Frank,FREESHIP,Cameron,4
4,REG100004,Cust 6506,Retail,2023-06-24,East,Store C,Desk,18,237.76,4279.68,...,4279.680,Online,5.73,0,2023-06-24,2023-06-27,Carlos,SAVE10,Eric,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,REG101495,Cust 5227,Retail,2025-02-17,West,Store D,Desk,13,134.56,1749.28,...,1661.816,Credit Card,35.63,0,2025-02-17,2025-02-22,Carlos,WINTER15,Wendy,5
1496,REG101496,Cust 5559,Wholesale,2024-01-11,South,Store C,Chair,18,209.75,3775.50,...,3209.175,Debit Card,45.93,0,2024-01-11,2024-01-17,Frank,FREESHIP,Sophie,6
1497,REG101497,Cust 8981,Wholesale,2024-07-27,East,Store A,Desk,1,272.50,272.50,...,272.500,Gift Card,35.56,0,2024-07-27,2024-08-03,Eva,WINTER15,Eric,7
1498,REG101498,Cust 1824,Retail,2024-12-03,Central,Store A,Monitor,14,262.67,3677.38,...,3493.511,Gift Card,24.53,0,2024-12-03,2024-12-10,Carlos,SAVE10,Cameron,7
1499,REG101499,Cust 1935,Wholesale,2025-05-09,West,Store D,Chair,13,221.39,2878.07,...,2878.070,Debit Card,21.05,1,2025-05-09,2025-05-13,Frank,FREESHIP,Wendy,4

In [104]:
dataset['Returned'].unique()

array([0, 1])

<p style="font-size:17px;">This shows all distinct values present in that column.</p>

In [105]:
dataset['Returned'] = dataset['Returned'].map({0: 'No', 1: 'Yes'})

<p style="font-size:17px;">This code converts the values in the “Returned” column from numerical form (0 and 1) to categorical labels ('No' and 'Yes'), making the dataset more readable and meaningful.

<b>0 → 'No' (the product was not returned)</b>

<b>1 → 'Yes' (the product was returned)</b></p>

<p style="font-size:17px;">The .map() function replaces each numeric value with the corresponding string.</p>

In [106]:
dataset['Returned'].value_counts()

Returned
No     1128
Yes     372
Name: count, dtype: int64

<p style="font-size:17px;">This command returns count of unique values in that column.</p>

In [107]:
dataset

,OrderID,CustomerName,CustomerType,Date,Region,StoreLocation,Product,Quantity,UnitPrice,TotalWithoutDiscount,...,TotalPrice,PaymentMethod,ShippingCost,Returned,OrderDate,DeliveryDate,Salesperson,Promotion,RegionManager,DeliveryDays
0,REG100000,Cust 6583,Wholesale,2023-02-23,East,Store B,Laptop,14,163.60,2290.40,...,2290.400,Online,43.34,No,2023-02-23,2023-02-27,Eva,FREESHIP,Eric,4
1,REG100001,Cust 2144,Retail,2024-12-19,South,Store A,Phone,1,544.01,544.01,...,544.010,Gift Card,5.30,No,2024-12-19,2024-12-28,Alice,SAVE10,Sophie,9
2,REG100002,Cust 5998,Wholesale,2023-05-10,North,Store B,Desk,14,346.18,4846.52,...,4361.868,Online,20.46,No,2023-05-10,2023-05-19,Alice,WINTER15,Ryan,9
3,REG100003,Cust 7136,Wholesale,2025-02-26,Central,Store A,Chair,18,384.82,6926.76,...,5887.746,Gift Card,27.95,No,2025-02-26,2025-03-02,Frank,FREESHIP,Cameron,4
4,REG100004,Cust 6506,Retail,2023-06-24,East,Store C,Desk,18,237.76,4279.68,...,4279.680,Online,5.73,No,2023-06-24,2023-06-27,Carlos,SAVE10,Eric,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,REG101495,Cust 5227,Retail,2025-02-17,West,Store D,Desk,13,134.56,1749.28,...,1661.816,Credit Card,35.63,No,2025-02-17,2025-02-22,Carlos,WINTER15,Wendy,5
1496,REG101496,Cust 5559,Wholesale,2024-01-11,South,Store C,Chair,18,209.75,3775.50,...,3209.175,Debit Card,45.93,No,2024-01-11,2024-01-17,Frank,FREESHIP,Sophie,6
1497,REG101497,Cust 8981,Wholesale,2024-07-27,East,Store A,Desk,1,272.50,272.50,...,272.500,Gift Card,35.56,No,2024-07-27,2024-08-03,Eva,WINTER15,Eric,7
1498,REG101498,Cust 1824,Retail,2024-12-03,Central,Store A,Monitor,14,262.67,3677.38,...,3493.511,Gift Card,24.53,No,2024-12-03,2024-12-10,Carlos,SAVE10,Cameron,7
1499,REG101499,Cust 1935,Wholesale,2025-05-09,West,Store D,Chair,13,221.39,2878.07,...,2878.070,Debit Card,21.05,Yes,2025-05-09,2025-05-13,Frank,FREESHIP,Wendy,4

In [108]:
dataset = dataset[(dataset['Quantity'] > 0) & (dataset['UnitPrice'] > 0)]

<p style="font-size:17px;">Remove rows where Quantity or UnitPrice are zero or negative(This ensures only valid sales transactions are kept)</p>

In [109]:
west_sales = dataset[dataset['Region'] == 'West']
west_sales

,OrderID,CustomerName,CustomerType,Date,Region,StoreLocation,Product,Quantity,UnitPrice,TotalWithoutDiscount,...,TotalPrice,PaymentMethod,ShippingCost,Returned,OrderDate,DeliveryDate,Salesperson,Promotion,RegionManager,DeliveryDays
9,REG100009,Cust 3732,Retail,2025-03-05,West,Store D,Desk,5,323.28,1616.40,...,1454.7600,Gift Card,41.10,No,2025-03-05,2025-03-13,Frank,SAVE10,Wendy,8
13,REG100013,Cust 4672,Wholesale,2025-01-18,West,Store A,Tablet,1,157.83,157.83,...,134.1555,Debit Card,42.82,No,2025-01-18,2025-01-22,Carlos,Unknown,Wendy,4
15,REG100015,Cust 7037,Wholesale,2025-05-11,West,Store A,Chair,17,162.96,2770.32,...,2631.8040,Gift Card,8.11,No,2025-05-11,2025-05-17,Eva,FREESHIP,Wendy,6
16,REG100016,Cust 4975,Wholesale,2023-02-26,West,Store D,Laptop,19,236.11,4486.09,...,4486.0900,Online,34.11,No,2023-02-26,2023-03-04,Bob,WINTER15,Wendy,6
19,REG100019,Cust 4247,Retail,2023-06-22,West,Store B,Desk,14,30.83,431.62,...,431.6200,Online,7.10,Yes,2023-06-22,2023-07-02,Carlos,WINTER15,Wendy,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1480,REG101480,Cust 8847,Retail,2024-08-16,West,Store B,Printer,16,483.37,7733.92,...,6960.5280,Debit Card,42.52,No,2024-08-16,2024-08-22,Alice,Unknown,Wendy,6
1491,REG101491,Cust 7979,Wholesale,2024-07-21,West,Store A,Phone,16,183.62,2937.92,...,2791.0240,Gift Card,6.56,No,2024-07-21,2024-07-31,Bob,WINTER15,Wendy,10
1493,REG101493,Cust 2516,Wholesale,2024-09-24,West,Store B,Monitor,17,527.68,8970.56,...,8970.5600,Gift Card,29.19,No,2024-09-24,2024-10-02,Diana,FREESHIP,Wendy,8
1495,REG101495,Cust 5227,Retail,2025-02-17,West,Store D,Desk,13,134.56,1749.28,...,1661.8160,Credit Card,35.63,No,2025-02-17,2025-02-22,Carlos,WINTER15,Wendy,5
1499,REG101499,Cust 1935,Wholesale,2025-05-09,West,Store D,Chair,13,221.39,2878.07,...,2878.0700,Debit Card,21.05,Yes,2025-05-09,2025-05-13,Frank,FREESHIP,Wendy,4

<p style="font-size:17px;">This keeps only rows where the Region column = “West”.</p>

In [110]:
east_laptop_sales = dataset[(dataset['Region'] == 'East') & (dataset['Product'] == 'Laptop')]

<p style="font-size:17px;">Filtering sales of laptop in east region.</p>

In [111]:
north_south_sales = dataset[(dataset['Region'] == 'North') | (dataset['Region'] == 'South')]
north_south_sales

,OrderID,CustomerName,CustomerType,Date,Region,StoreLocation,Product,Quantity,UnitPrice,TotalWithoutDiscount,...,TotalPrice,PaymentMethod,ShippingCost,Returned,OrderDate,DeliveryDate,Salesperson,Promotion,RegionManager,DeliveryDays
1,REG100001,Cust 2144,Retail,2024-12-19,South,Store A,Phone,1,544.01,544.01,...,544.0100,Gift Card,5.30,No,2024-12-19,2024-12-28,Alice,SAVE10,Sophie,9
2,REG100002,Cust 5998,Wholesale,2023-05-10,North,Store B,Desk,14,346.18,4846.52,...,4361.8680,Online,20.46,No,2023-05-10,2023-05-19,Alice,WINTER15,Ryan,9
6,REG100006,Cust 7887,Retail,2023-01-11,South,Store C,Chair,7,17.50,122.50,...,110.2500,Debit Card,5.02,No,2023-01-11,2023-01-14,Alice,WINTER15,Sophie,3
8,REG100008,Cust 2284,Wholesale,2024-10-16,South,Store D,Chair,3,432.04,1296.12,...,1231.3140,Debit Card,42.11,Yes,2024-10-16,2024-10-18,Bob,FREESHIP,Sophie,2
10,REG100010,Cust 1462,Wholesale,2024-04-10,North,Store B,Desk,15,523.29,7849.35,...,6671.9475,Debit Card,12.14,No,2024-04-10,2024-04-17,Eva,Unknown,Ryan,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1484,REG101484,Cust 8015,Retail,2023-03-16,North,Store D,Monitor,17,485.30,8250.10,...,7012.5850,Cash,37.94,No,2023-03-16,2023-03-23,Diana,WINTER15,Ryan,7
1485,REG101485,Cust 7211,Retail,2025-05-16,South,Store D,Laptop,4,472.24,1888.96,...,1888.9600,Gift Card,6.78,Yes,2025-05-16,2025-05-21,Alice,FREESHIP,Sophie,5
1487,REG101487,Cust 2905,Wholesale,2024-06-16,North,Store B,Chair,5,159.92,799.60,...,799.6000,Cash,10.86,No,2024-06-16,2024-06-23,Carlos,SAVE10,Ryan,7
1489,REG101489,Cust 6695,Retail,2024-11-27,South,Store B,Phone,13,196.80,2558.40,...,2302.5600,Cash,10.12,No,2024-11-27,2024-12-07,Diana,Unknown,Sophie,10
1496,REG101496,Cust 5559,Wholesale,2024-01-11,South,Store C,Chair,18,209.75,3775.50,...,3209.1750,Debit Card,45.93,No,2024-01-11,2024-01-17,Frank,FREESHIP,Sophie,6

<p style="font-size:17px;">Sales from 'North' or 'South' regions</p>

In [112]:
high_discount_sales = dataset[dataset['Discount'] > 0]
high_discount_sales

,OrderID,CustomerName,CustomerType,Date,Region,StoreLocation,Product,Quantity,UnitPrice,TotalWithoutDiscount,...,TotalPrice,PaymentMethod,ShippingCost,Returned,OrderDate,DeliveryDate,Salesperson,Promotion,RegionManager,DeliveryDays
2,REG100002,Cust 5998,Wholesale,2023-05-10,North,Store B,Desk,14,346.18,4846.52,...,4361.868,Online,20.46,No,2023-05-10,2023-05-19,Alice,WINTER15,Ryan,9
3,REG100003,Cust 7136,Wholesale,2025-02-26,Central,Store A,Chair,18,384.82,6926.76,...,5887.746,Gift Card,27.95,No,2025-02-26,2025-03-02,Frank,FREESHIP,Cameron,4
5,REG100005,Cust 3909,Wholesale,2024-02-20,Central,Store D,Monitor,2,385.09,770.18,...,654.653,Credit Card,11.92,No,2024-02-20,2024-03-01,Diana,Unknown,Cameron,10
6,REG100006,Cust 7887,Retail,2023-01-11,South,Store C,Chair,7,17.50,122.50,...,110.250,Debit Card,5.02,No,2023-01-11,2023-01-14,Alice,WINTER15,Sophie,3
7,REG100007,Cust 5301,Wholesale,2023-01-09,Central,Store C,Chair,3,330.22,990.66,...,842.061,Cash,48.01,No,2023-01-09,2023-01-11,Carlos,Unknown,Cameron,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1491,REG101491,Cust 7979,Wholesale,2024-07-21,West,Store A,Phone,16,183.62,2937.92,...,2791.024,Gift Card,6.56,No,2024-07-21,2024-07-31,Bob,WINTER15,Wendy,10
1492,REG101492,Cust 2437,Retail,2024-07-03,East,Store A,Monitor,2,373.07,746.14,...,708.833,Credit Card,26.90,No,2024-07-03,2024-07-07,Diana,FREESHIP,Eric,4
1495,REG101495,Cust 5227,Retail,2025-02-17,West,Store D,Desk,13,134.56,1749.28,...,1661.816,Credit Card,35.63,No,2025-02-17,2025-02-22,Carlos,WINTER15,Wendy,5
1496,REG101496,Cust 5559,Wholesale,2024-01-11,South,Store C,Chair,18,209.75,3775.50,...,3209.175,Debit Card,45.93,No,2024-01-11,2024-01-17,Frank,FREESHIP,Sophie,6
1498,REG101498,Cust 1824,Retail,2024-12-03,Central,Store A,Monitor,14,262.67,3677.38,...,3493.511,Gift Card,24.53,No,2024-12-03,2024-12-10,Carlos,SAVE10,Cameron,7

<p style="font-size:17px;">This shows products with discounts.</p>

In [113]:
high_value_sales = dataset[dataset['TotalPrice'] > 5000]
high_value_sales

,OrderID,CustomerName,CustomerType,Date,Region,StoreLocation,Product,Quantity,UnitPrice,TotalWithoutDiscount,...,TotalPrice,PaymentMethod,ShippingCost,Returned,OrderDate,DeliveryDate,Salesperson,Promotion,RegionManager,DeliveryDays
3,REG100003,Cust 7136,Wholesale,2025-02-26,Central,Store A,Chair,18,384.82,6926.76,...,5887.7460,Gift Card,27.95,No,2025-02-26,2025-03-02,Frank,FREESHIP,Cameron,4
10,REG100010,Cust 1462,Wholesale,2024-04-10,North,Store B,Desk,15,523.29,7849.35,...,6671.9475,Debit Card,12.14,No,2024-04-10,2024-04-17,Eva,Unknown,Ryan,7
17,REG100017,Cust 8014,Retail,2024-05-28,Central,Store D,Desk,11,573.14,6304.54,...,5989.3130,Cash,34.71,No,2024-05-28,2024-06-01,Diana,SAVE10,Cameron,4
18,REG100018,Cust 1228,Retail,2023-11-30,East,Store B,Phone,20,519.04,10380.80,...,8823.6800,Gift Card,19.43,No,2023-11-30,2023-12-08,Carlos,FREESHIP,Eric,8
22,REG100022,Cust 8137,Retail,2024-02-18,North,Store C,Laptop,14,395.45,5536.30,...,5536.3000,Cash,36.45,Yes,2024-02-18,2024-02-22,Carlos,FREESHIP,Ryan,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1472,REG101472,Cust 5635,Wholesale,2025-06-30,South,Store B,Phone,20,444.77,8895.40,...,8005.8600,Online,20.05,Yes,2025-06-30,2025-07-07,Diana,Unknown,Sophie,7
1480,REG101480,Cust 8847,Retail,2024-08-16,West,Store B,Printer,16,483.37,7733.92,...,6960.5280,Debit Card,42.52,No,2024-08-16,2024-08-22,Alice,Unknown,Wendy,6
1484,REG101484,Cust 8015,Retail,2023-03-16,North,Store D,Monitor,17,485.30,8250.10,...,7012.5850,Cash,37.94,No,2023-03-16,2023-03-23,Diana,WINTER15,Ryan,7
1488,REG101488,Cust 5777,Wholesale,2025-01-28,Central,Store A,Monitor,13,447.34,5815.42,...,5524.6490,Cash,38.93,No,2025-01-28,2025-02-04,Frank,SAVE10,Cameron,7
1493,REG101493,Cust 2516,Wholesale,2024-09-24,West,Store B,Monitor,17,527.68,8970.56,...,8970.5600,Gift Card,29.19,No,2024-09-24,2024-10-02,Diana,FREESHIP,Wendy,8

<p style="font-size:17px;">Sales greater than 5000.</p>

In [114]:
phone_sales = dataset[dataset['Product'].str.contains('Phone', case=False)]
phone_sales

,OrderID,CustomerName,CustomerType,Date,Region,StoreLocation,Product,Quantity,UnitPrice,TotalWithoutDiscount,...,TotalPrice,PaymentMethod,ShippingCost,Returned,OrderDate,DeliveryDate,Salesperson,Promotion,RegionManager,DeliveryDays
1,REG100001,Cust 2144,Retail,2024-12-19,South,Store A,Phone,1,544.01,544.01,...,544.0100,Gift Card,5.30,No,2024-12-19,2024-12-28,Alice,SAVE10,Sophie,9
11,REG100011,Cust 4330,Retail,2024-07-12,East,Store D,Phone,19,207.35,3939.65,...,3545.6850,Gift Card,44.89,Yes,2024-07-12,2024-07-18,Eva,Unknown,Eric,6
12,REG100012,Cust 2372,Retail,2023-07-21,Central,Store B,Phone,1,120.53,120.53,...,114.5035,Cash,20.35,No,2023-07-21,2023-07-31,Diana,WINTER15,Cameron,10
18,REG100018,Cust 1228,Retail,2023-11-30,East,Store B,Phone,20,519.04,10380.80,...,8823.6800,Gift Card,19.43,No,2023-11-30,2023-12-08,Carlos,FREESHIP,Eric,8
20,REG100020,Cust 4199,Wholesale,2025-06-05,West,Store D,Phone,10,319.05,3190.50,...,3190.5000,Online,28.43,No,2025-06-05,2025-06-08,Diana,Unknown,Wendy,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1462,REG101462,Cust 8858,Wholesale,2025-03-27,East,Store D,Phone,11,548.08,6028.88,...,5727.4360,Cash,25.82,No,2025-03-27,2025-04-06,Eva,Unknown,Eric,10
1472,REG101472,Cust 5635,Wholesale,2025-06-30,South,Store B,Phone,20,444.77,8895.40,...,8005.8600,Online,20.05,Yes,2025-06-30,2025-07-07,Diana,Unknown,Sophie,7
1474,REG101474,Cust 1624,Retail,2023-04-18,South,Store B,Phone,9,509.44,4584.96,...,3897.2160,Credit Card,13.00,No,2023-04-18,2023-04-27,Eva,SAVE10,Sophie,9
1489,REG101489,Cust 6695,Retail,2024-11-27,South,Store B,Phone,13,196.80,2558.40,...,2302.5600,Cash,10.12,No,2024-11-27,2024-12-07,Diana,Unknown,Sophie,10
1491,REG101491,Cust 7979,Wholesale,2024-07-21,West,Store A,Phone,16,183.62,2937.92,...,2791.0240,Gift Card,6.56,No,2024-07-21,2024-07-31,Bob,WINTER15,Wendy,10

<p style="font-size:17px;">All products containing the word 'Phone'.</p>

In [115]:
sales_online = dataset[dataset['PaymentMethod'] == 'Online']
sales_online

,OrderID,CustomerName,CustomerType,Date,Region,StoreLocation,Product,Quantity,UnitPrice,TotalWithoutDiscount,...,TotalPrice,PaymentMethod,ShippingCost,Returned,OrderDate,DeliveryDate,Salesperson,Promotion,RegionManager,DeliveryDays
0,REG100000,Cust 6583,Wholesale,2023-02-23,East,Store B,Laptop,14,163.60,2290.40,...,2290.400,Online,43.34,No,2023-02-23,2023-02-27,Eva,FREESHIP,Eric,4
2,REG100002,Cust 5998,Wholesale,2023-05-10,North,Store B,Desk,14,346.18,4846.52,...,4361.868,Online,20.46,No,2023-05-10,2023-05-19,Alice,WINTER15,Ryan,9
4,REG100004,Cust 6506,Retail,2023-06-24,East,Store C,Desk,18,237.76,4279.68,...,4279.680,Online,5.73,No,2023-06-24,2023-06-27,Carlos,SAVE10,Eric,3
16,REG100016,Cust 4975,Wholesale,2023-02-26,West,Store D,Laptop,19,236.11,4486.09,...,4486.090,Online,34.11,No,2023-02-26,2023-03-04,Bob,WINTER15,Wendy,6
19,REG100019,Cust 4247,Retail,2023-06-22,West,Store B,Desk,14,30.83,431.62,...,431.620,Online,7.10,Yes,2023-06-22,2023-07-02,Carlos,WINTER15,Wendy,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1466,REG101466,Cust 2311,Retail,2023-12-17,South,Store B,Monitor,9,55.04,495.36,...,421.056,Online,31.09,No,2023-12-17,2023-12-23,Alice,Unknown,Sophie,6
1468,REG101468,Cust 8054,Retail,2024-12-19,Central,Store C,Laptop,15,150.15,2252.25,...,2252.250,Online,35.94,No,2024-12-19,2024-12-29,Frank,WINTER15,Cameron,10
1470,REG101470,Cust 7547,Retail,2025-05-14,Central,Store D,Laptop,4,438.58,1754.32,...,1666.604,Online,5.10,No,2025-05-14,2025-05-18,Alice,WINTER15,Cameron,4
1472,REG101472,Cust 5635,Wholesale,2025-06-30,South,Store B,Phone,20,444.77,8895.40,...,8005.860,Online,20.05,Yes,2025-06-30,2025-07-07,Diana,Unknown,Sophie,7
1494,REG101494,Cust 6791,Wholesale,2025-01-14,East,Store D,Tablet,5,201.29,1006.45,...,1006.450,Online,49.13,No,2025-01-14,2025-01-21,Carlos,FREESHIP,Eric,7

<p style="font-size:17px;">This code filters only online payment orders.</p>

In [116]:
product_summary = dataset.groupby('Product')[['Quantity', 'TotalPrice']].sum().reset_index()
product_summary

   Product  Quantity   TotalPrice
0    Chair      2122  622589.4780
1     Desk      2026  555266.6645
2   Laptop      2408  684417.2415
3  Monitor      2177  651629.3925
4    Phone      1970  497162.8510
5  Printer      2336  684387.4155
6   Tablet      2577  684539.3855

<p style="font-size:17px;">Aggregating total quantity and revenue by product

dataset.groupby('Product') → groups your data by each unique product name.

[['Quantity', 'TotalPrice']] → selects only those two columns to summarize.

.sum() → adds up all Quantity and TotalPrice values for each product.

.reset_index() → converts the grouped result back into a regular DataFrame.</p>

In [117]:
store_counts = dataset.groupby('StoreLocation', observed=True).size().reset_index(name='Count')
store_counts

  StoreLocation  Count
0       Store A    372
1       Store B    363
2       Store C    365
3       Store D    400

<p style="font-size:17px;">This shows different store locations sales.</p>

In [118]:
region_sales = dataset.groupby('Region',observed=True)['TotalPrice'].sum().reset_index()
region_sales

    Region   TotalPrice
0  Central  847153.6845
1     East  883633.7180
2    North  967957.9800
3    South  827768.1870
4     West  853478.8590

<p style="font-size:17px;">Regional aggregation is performed to analyze total revenue across different regions.

dataset.groupby('Region') → groups your entire dataset by each unique region.

['TotalPrice'].sum() → calculates the total revenue (sum of TotalPrice) for each region.

.reset_index() → turns the grouped data back into a clean DataFrame for display.</p>

In [119]:
region_sales = region_sales.sort_values(by='TotalPrice', ascending=False)
region_sales

    Region   TotalPrice
2    North  967957.9800
1     East  883633.7180
4     West  853478.8590
0  Central  847153.6845
3    South  827768.1870

<p style="font-size:17px;">Sorts the aggregated regional sales from highest to lowest based on TotalPrice. ascending=False(ensures that the region
with the highest total sales appears first).</p>

In [120]:
cols = ['Region', 'Product', 'StoreLocation','CustomerType', 'PaymentMethod','Salesperson','RegionManager','Returned','CustomerName',]
dataset[cols] = dataset[cols].apply(lambda x: x.str.title())

<p style="font-size:17px;">Converts text in columns such as Region, Product, StoreLocation, etc. to Title Case → Example: "north west" → "North West",
"john doe" → "John Doe" This makes the data consistent, clean, and visually uniform.</p>

In [121]:
cols=['Promotion','OrderID']
dataset[cols] = dataset[cols].apply(lambda x: x.str.upper())

<p style="font-size:17px;">Converts the text in Promotion and OrderID columns to Uppercase</p>

<p style="font-size:17px;">To ensure text data was presented in a consistent and readable manner, columns such as Region, Product, StoreLocation, and CustomerName were formatted 
using the str.title() function, capitalizing the first letter of each word. Similarly, columns like Promotion and OrderID were converted to uppercase
using the str.upper() function. This step was done to maintain uniformity across the dataset, and visual inspection confirmed that the text formatting 
appeared consistent across all rows.</p>

In [122]:
dataset

,OrderID,CustomerName,CustomerType,Date,Region,StoreLocation,Product,Quantity,UnitPrice,TotalWithoutDiscount,...,TotalPrice,PaymentMethod,ShippingCost,Returned,OrderDate,DeliveryDate,Salesperson,Promotion,RegionManager,DeliveryDays
0,REG100000,Cust 6583,Wholesale,2023-02-23,East,Store B,Laptop,14,163.60,2290.40,...,2290.400,Online,43.34,No,2023-02-23,2023-02-27,Eva,FREESHIP,Eric,4
1,REG100001,Cust 2144,Retail,2024-12-19,South,Store A,Phone,1,544.01,544.01,...,544.010,Gift Card,5.30,No,2024-12-19,2024-12-28,Alice,SAVE10,Sophie,9
2,REG100002,Cust 5998,Wholesale,2023-05-10,North,Store B,Desk,14,346.18,4846.52,...,4361.868,Online,20.46,No,2023-05-10,2023-05-19,Alice,WINTER15,Ryan,9
3,REG100003,Cust 7136,Wholesale,2025-02-26,Central,Store A,Chair,18,384.82,6926.76,...,5887.746,Gift Card,27.95,No,2025-02-26,2025-03-02,Frank,FREESHIP,Cameron,4
4,REG100004,Cust 6506,Retail,2023-06-24,East,Store C,Desk,18,237.76,4279.68,...,4279.680,Online,5.73,No,2023-06-24,2023-06-27,Carlos,SAVE10,Eric,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,REG101495,Cust 5227,Retail,2025-02-17,West,Store D,Desk,13,134.56,1749.28,...,1661.816,Credit Card,35.63,No,2025-02-17,2025-02-22,Carlos,WINTER15,Wendy,5
1496,REG101496,Cust 5559,Wholesale,2024-01-11,South,Store C,Chair,18,209.75,3775.50,...,3209.175,Debit Card,45.93,No,2024-01-11,2024-01-17,Frank,FREESHIP,Sophie,6
1497,REG101497,Cust 8981,Wholesale,2024-07-27,East,Store A,Desk,1,272.50,272.50,...,272.500,Gift Card,35.56,No,2024-07-27,2024-08-03,Eva,WINTER15,Eric,7
1498,REG101498,Cust 1824,Retail,2024-12-03,Central,Store A,Monitor,14,262.67,3677.38,...,3493.511,Gift Card,24.53,No,2024-12-03,2024-12-10,Carlos,SAVE10,Cameron,7
1499,REG101499,Cust 1935,Wholesale,2025-05-09,West,Store D,Chair,13,221.39,2878.07,...,2878.070,Debit Card,21.05,Yes,2025-05-09,2025-05-13,Frank,FREESHIP,Wendy,4

In [123]:
dataset.describe()

,Date,Quantity,UnitPrice,TotalWithoutDiscount,Discount,TotalPrice,ShippingCost,OrderDate,DeliveryDate,DeliveryDays
count,1500,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500,1500,1500.000000
mean,2024-04-07 21:35:02.400000256,10.410667,298.826947,3151.928627,0.073133,2919.994952,27.507293,2024-04-07 21:35:02.400000256,2024-04-13 22:36:28.799999744,6.042667
min,2023-01-01 00:00:00,1.000000,5.520000,8.200000,0.000000,6.970000,5.010000,2023-01-01 00:00:00,2023-01-08 00:00:00,2.000000
25%,2023-08-20 00:00:00,5.000000,151.020000,917.250000,0.000000,867.136250,16.700000,2023-08-20 00:00:00,2023-08-25 12:00:00,4.000000
50%,2024-04-08 12:00:00,11.000000,294.740000,2348.315000,0.050000,2174.724000,27.100000,2024-04-08 12:00:00,2024-04-15 12:00:00,6.000000
75%,2024-12-07 06:00:00,15.000000,446.702500,4747.322500,0.100000,4414.723500,38.635000,2024-12-07 06:00:00,2024-12-13 06:00:00,8.000000
max,2025-06-30 00:00:00,20.000000,599.720000,11526.000000,0.150000,11077.000000,49.980000,2025-06-30 00:00:00,2025-07-10 00:00:00,10.000000
std,NaN,5.735732,169.100075,2712.312065,0.055979,2522.789977,13.093453,NaN,NaN,2.539254

<p style="font-size:17px;">This function calcuates Summary statistics for numerical columns.</p>

In [124]:
dataset['Region'].value_counts()

Region
East       311
North      309
Central    301
South      295
West       284
Name: count, dtype: int64

<p style="font-size:17px;">It counts how many times each unique value appears in the column Region.</p>

In [125]:
dataset['PaymentMethod'].value_counts()

PaymentMethod
Online         323
Cash           312
Credit Card    299
Debit Card     290
Gift Card      276
Name: count, dtype: int64

<p style="font-size:17px;">it counts number of values for each payment method</p>

In [126]:
total_east_laptop_sales=east_laptop_sales['TotalPrice'].sum()
total_east_laptop_sales

np.float64(135461.4075)

<p style="font-size:17px;">It sums the TotalPrice of Sales from 'East' region AND product = 'Laptop',</p>

In [127]:
average_discount = dataset['Discount'].mean()
average_discount

np.float64(0.07313333333333334)

<p style="font-size:17px;">It displays Average Discount.</p>

In [128]:
total_quantity = dataset['Quantity'].sum()
total_quantity

np.int64(15616)

<p style="font-size:17px;">This command shows Total Quantity Sold</p>

In [129]:
avg_discount_customer = dataset.groupby('CustomerType')['Discount'].mean().reset_index()
print(avg_discount_customer)

  CustomerType  Discount
0       Retail  0.076277
1    Wholesale  0.070040

<p style="font-size:17px;">Average discount by customer type</p>

In [130]:
product_summary = dataset.groupby('Product')[['Quantity', 'TotalPrice']].sum().reset_index()
print(product_summary)

   Product  Quantity   TotalPrice
0    Chair      2122  622589.4780
1     Desk      2026  555266.6645
2   Laptop      2408  684417.2415
3  Monitor      2177  651629.3925
4    Phone      1970  497162.8510
5  Printer      2336  684387.4155
6   Tablet      2577  684539.3855

<p style="font-size:17px;">Total quantity and sales by product.</p>

In [131]:
customer_sales = dataset.groupby('CustomerType')['TotalPrice'].mean().reset_index()
customer_sales

  CustomerType   TotalPrice
0       Retail  2950.975259
1    Wholesale  2889.506396

<p style="font-size:17px;">Average sales by Customer Type.</p>

In [132]:
region_product_sales = dataset.groupby(['Region', 'Product'])['TotalPrice'].sum().reset_index()
print(region_product_sales)

     Region  Product   TotalPrice
0   Central    Chair  113029.4415
1   Central     Desk  110743.9290
2   Central   Laptop  139219.5800
3   Central  Monitor  107231.8960
4   Central    Phone   72442.8265
5   Central  Printer  139174.8675
6   Central   Tablet  165311.1440
7      East    Chair  107210.1945
8      East     Desk  118254.6630
9      East   Laptop  135461.4075
10     East  Monitor  121548.1315
11     East    Phone  145231.2030
12     East  Printer  149017.8450
13     East   Tablet  106910.2735
14    North    Chair  136982.5300
15    North     Desk  170637.9805
16    North   Laptop  122643.5660
17    North  Monitor  172222.0435
18    North    Phone   79577.4530
19    North  Printer  128877.2280
20    North   Tablet  157017.1790
21    South    Chair  150978.0410
22    South     Desk   68565.6710
23    South   Laptop  157696.0205
24    South  Monitor  101689.4455
25    South    Phone  121325.6950
26    South  Printer  122090.8650
27    South   Tablet  105422.4490
28     West    Chair  114389.2710
29     West     Desk   87064.4210
30     West   Laptop  129396.6675
31     West  Monitor  148937.8760
32     West    Phone   78585.6735
33     West  Printer  145226.6100
34     West   Tablet  149878.3400

<p style="font-size:17px;">This line shows Product wise total sales.</p>

In [133]:
multi_sales = dataset.pivot_table(values='TotalPrice', index='Region', columns='PaymentMethod', aggfunc='sum', fill_value=0)
multi_sales

PaymentMethod         Cash  Credit Card   Debit Card    Gift Card       Online
Region
Central        164662.4630  165662.4205  146682.2670  171384.2690  198762.2650
East           175928.1275  202153.7365  133216.4965  208597.2380  163738.1195
North          279070.4650  185016.7035  135690.6495  185313.8700  182866.2920
South          192833.2595  145738.3475  177401.8845  120189.3345  191605.3610
West           137893.5340  167912.1665  177429.3665  136100.6795  234143.1125

<p style="font-size:17px;">This code shows Total sales by Region and PaymentMethod</p>

In [134]:
dataset[['Quantity', 'UnitPrice', 'Discount', 'TotalPrice']].corr()

            Quantity  UnitPrice  Discount  TotalPrice
Quantity    1.000000   0.042239  0.017660    0.666459
UnitPrice   0.042239   1.000000  0.006790    0.677015
Discount    0.017660   0.006790  1.000000   -0.059903
TotalPrice  0.666459   0.677015 -0.059903    1.000000

<p style="font-size:17px;">A correlation matrix was generated for numerical variables such as Quantity, UnitPrice, Discount, and TotalPrice to study linear relationships.
This analysis provided insights into how quantity and discount levels affect total sales.</p>